au-grid-cell {
  display: block;
  position: absolute;
  border: 1px solid #aaa;
  background-color: #ccc;
  box-sizing: border-box;

  &:not(.au-grid-cell-manipulate) {
    transition: left .3s ease-out, top .3s ease-out, width .3s ease-out, height .3s ease-out;
  }
}
.au-grid-cell-manipulate {
  opacity: .3;
  z-index: 1;
}