au-grid-cell {
  display: block;
  position: absolute;
  box-sizing: border-box;

  &:not(.au-grid-cell-manipulate) {
    transition: left .2s ease-out, top .2s ease-out, width .2s ease-out, height .2s ease-out;
  }
}
.au-grid-cell__content {
  height: 100%;
  box-sizing: border-box;
}
.au-grid-cell-manipulate {
  opacity: .3;
  z-index: 1;
}